//
// COLORS
//
$color-primary: #ff0000;
$color-secondary: #282d30;
$color-light-grey: #fbfbfb;
$color-grey: #74798C;

//
// FONTS
//

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

$font-1: 'Roboto';

//
// DISPLAY
//

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
