* {
  font-family: $font-1;
}

.header__navLink {
  font-size: 24px;
  color: white;
}

.aside__copyright {
  color: white;
  font-size: 12px;
}
.article__header {
  h1 {
    font-size: 48px;
  }

  p {
    font-size: 18px;
  }

  &--firstName {
    color: $color-primary;
  }
}

.customTooltip {
  color: white;
  font-size: 14px;
}