.article {
  width: 100%;
  margin-top: 68px;
  padding-left: 107px;
  &__header--text {
    margin-top: 41px;
  }

  &__container {
    margin-top: 77px;
  }
}

.charts {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__bottom {
    height: 263px;
    margin-top: 30px;
  }
}
