.aside {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
  width: 117px;
  gap: 200px;
  padding-top: 256px;

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    @include center;
    border-radius: 6px;
    height: 64px;
    width: 64px;
    background-color: white;
  }

  &__copyright {
    width: 138px;
    rotate: -90deg;
    align-self: center;
  }
}
